<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>118952250340-evoa7fk6s5kk9u0ipidq07lffnctu2kr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118952250340-evoa7fk6s5kk9u0ipidq07lffnctu2kr</string>
	<key>API_KEY</key>
	<string>AIzaSyBYzdyFNFdaBPQxPrOsWKfdVM23VOUjgN8</string>
	<key>GCM_SENDER_ID</key>
	<string>118952250340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.joinit2</string>
	<key>PROJECT_ID</key>
	<string>joinit-15691</string>
	<key>STORAGE_BUCKET</key>
	<string>joinit-15691.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:118952250340:ios:20b5d01cdcff521a</string>
	<key>DATABASE_URL</key>
	<string>https://joinit-15691.firebaseio.com</string>
</dict>
</plist>